<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>FLO_RESTAURANT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">



<body>
<div class="container">
    <h1 class="text-center">Thực Đơn</h1>
    <div class="row">
        <!-- Duyệt qua danh sách món ăn -->
        <div th:each="food : ${foods}" class="col-lg-3">
            <div class="card">
                <!-- Hiển thị hình ảnh của món ăn -->
                <img th:src="@{/images/food/{image}(image=${food.imageName})}" class="card-img-top" alt="Food Image">
                <div class="card-body text-center">
                    <!-- Tiêu đề món ăn -->
                    <h5 class="card-title" th:text="${food.title}">Food Title</h5>
                    <!-- Giá món ăn -->
                    <p class="card-text" th:text="${food.price + ' VND'}">Price</p>
                    <!-- Form thêm món ăn vào giỏ hàng -->
                    <form action="#" method="POST">
                        <button type="submit" class="btn btn-primary btn-sm">Thêm Vào Giỏ Hàng</button>
                        <input type="hidden" name="Item_Name" th:value="${food.title}">
                        <input type="hidden" name="Price" th:value="${food.price}">
                        <input type="hidden" name="Id" th:value="${food.id}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>
