<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="vi" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/header}"></head>
    <title>Thay Đổi Mật Khẩu</title>
</head>
<body>
<div class="container">
    <h2>Thay đổi mật khẩu</h2>

    <!-- Form thay đổi mật khẩu -->
    <form action="/update-password" method="post">
        <div class="form-group">
            <label for="oldPassword">Mật khẩu cũ:</label>
            <input type="password" name="oldPassword" class="form-control" id="oldPassword" required />
        </div>

        <div class="form-group">
            <label for="newPassword">Mật khẩu mới:</label>
            <input type="password" name="newPassword" class="form-control" id="newPassword" required />
        </div>

        <div class="form-group">
            <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required />
        </div>

        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
    </form>

    <!-- Hiển thị lỗi nếu có -->
    <p style="color:red" th:text="${error}"></p>
</div>
<div th:replace="~{layout/footer}"></div>

</body>
</html>