<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login-front.css">
</head>
<body>

<div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">User Login</div>

    <form action="#" th:action="@{/login}" method="POST">
        <label>Username</label>
        <input type="text" name="username" required>
        <label>Password</label>
        <input type="password" name="password" required>
        <br>

        <p>Chưa có tài khoản? <a href="/register">Tạo tài khoản</a></p>

        <button type="submit">Login</button>
    </form>

    <div th:if="${error}">
        <p style="color: red;" th:text="${error}"></p>
    </div>
</div>
</body>
</html>
