<!--&lt;!&ndash; head.html &ndash;&gt;-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Quản trị FLO_RESTAURANT</title>-->

<!--    &lt;!&ndash; Boxicons &ndash;&gt;-->
<!--    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">-->

<!--    &lt;!&ndash; CSS Tài Nguyên Tĩnh &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{/assets/style-admin.css}">-->
<!--    <link rel="icon" th:href="@{/images/logo.png}">-->
<!--</head>-->
