<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">

    <!-- Tài nguyên CSS -->
    <link rel="stylesheet" href="/assets/login.css"> <!-- Tệp CSS login.css -->
    <link rel="stylesheet" href="/assets/manage-table.css"> <!-- Tệp CSS manage-table.css -->
    <link rel="stylesheet" href="/assets/style-admin.css"> <!-- Tệp CSS style-admin.css -->

    <!-- Favicon -->
    <link rel="icon" th:href="@{/images/logo.png}"> <!-- Hình ảnh favicon -->
</head>
